version: '3'

services:
  phoenix:
    image: $PHOENIX_IMAGE:$PHOENIX_VERSION
    links:
      - postgresql
    ports:
      - "3000:3000"
    environment:
      - SECRET_KEY_BASE=f4888a25d7ec43a3e0e3a1cf6780c272
      - DATABASE_URL=postgresql://postgres:password@postgresql:5432/phoenix
      - RAILS_SERVE_STATIC_FILES=1
      - AUTHENTICATION_CRYPTO_KEY_32_BYTES=f4888a25d7ec43a3e0e3a1cf6780c272
      - UNAUTHENTICATED_SHISA_BASE_URL=http://shisa:3100
      - SHISA_API_URL=http://admin:secret@shisa:3100/api
      - DATA_API_CONNECTOR_URL=http://data-api:4001/api
      - DATA_API_PUBLIC_HOSTNAME=localhost:4002
      - INSIGHTS_ES_URL=http://elastic:9200
      - PHOENIX_OAUTH_SHISA_SECRET=ffa10a2a1082b12ff40f338857510dcd6203a30bf224eb2a5a05734ba7fbdd36f5cf3848e4bb5bbf1e1bb74c4556454e7c1a9323032277434195425251195fd0
      - PHOENIX_OAUTH_SPHINX_SECRET=ffa10a2a1082b12ff40f338857510dcd6203a30bf224eb2a5a05734ba7fbdd36f5cf3848e4bb5bbf1e1bb74c4556454e7c1a9323032277434195425251195fd0
      - ENABLED_FEATURES=without_email_confirmation,soap_endpoints,kafka_endpoints,clojud
    volumes:
      - ./phoenix:/home/box/phoenix/standalone:delegated
      - ./jwtkeys:/home/box/phoenix/config/firebird_keys:delegated

  shisa:
    image: $SHISA_IMAGE:$SHISA_VERSION
    links:
      - postgresql
    ports:
      - "3100:3100"
    environment:
      - SECRET_KEY_BASE=f4888a25d7ec43a3e0e3a1cf6780c272
      - RAILS_SERVE_STATIC_FILES=1
      - DATABASE_URL=postgresql://postgres:password@postgresql:5432/shisa
      - SHISA_API_SECRET=secret
      - MAILER_DEFAULT_HOST=test.xapix.io
      - MAILER_DELIVERY_METHOD=file
      - MAILER_FROM_EMAIL=mailer@shisa.xapix.io

  postgresql:
    image: postgres:10-alpine
    environment:
      - POSTGRES_PASSWORD=password
    volumes:
      - ./data/psql:/var/lib/postgresql/data:delegated

  elastic:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.2.4
    environment:
      - "cluster.name=xapix-es"
      - "discovery.type=single-node"
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - "bootstrap.memory_lock=true"
    volumes:
      - ./data/es:/usr/share/elasticsearch/data:delegated
    ulimits:
      memlock:
        soft: -1
        hard: -1

  data-api:
    image: $CLOJUD_IMAGE:$CLOJUD_VERSION
    links:
      - kafka
      - connect
    ports:
      - "4001:4001"
      - "4002:4002"
    environment:
      CLOJUD_ME: localhost:4002
      CLOJUD_KAFKA: kafka:9092
      CLOJUD_APP_ID: clojud-local
      CLOJUD_TOPIC_PREFIX: local
      CLOJUD_ELASTIC_ENDPOINT: http://elastic:9200
      CLOJUD_KAFKA_CONNECT_ENDPOINT: http://connect:8086
      CLOJUD_XAPIX_PORT: 4001
      CLOJUD_API_PORT: 4000
      CLOJUD_HTTP_GATEWAY_PORT: 4002
      CLOJUD_CIPHER_KEY: secret
      CLOJUD_PUBLIC_KEY: /etc/clojud/jwt_ecdsa.pub
      CLOJUD_PRIVATE_KEY: /etc/clojud/jwt_ecdsa.key
    volumes:
      - ./jwtkeys:/etc/clojud:delegated

  kafka:
    image: confluentinc/cp-kafka:4.1.1-2
    ports:
      - "9092:9092"
    links:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:32181
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:9093,EXTERNAL://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: EXTERNAL:PLAINTEXT,INTERNAL:PLAINTEXT
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:9093, EXTERNAL://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_ZOOKEEPER_CONNECTION_TIMEOUT_MS: 60000
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL

  connect:
    image: $CLOJUD_CONNECT_IMAGE:$CLOJUD_CONNECT_VERSION
    ports:
      - "8086:8086"
    environment:
      CONNECT_BOOTSTRAP_SERVERS: kafka:9093
      CONNECT_REST_PORT: 8086
      CONNECT_GROUP_ID: kafka-connect-dev
      CONNECT_CONFIG_STORAGE_TOPIC: kafka-connect-config
      CONNECT_OFFSET_STORAGE_TOPIC: kafka-connect-offset
      CONNECT_STATUS_STORAGE_TOPIC: kafka-connect-status
      CONNECT_KEY_CONVERTER: org.apache.kafka.connect.storage.StringConverter
      CONNECT_VALUE_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      CONNECT_VALUE_CONVERTER_SCHEMAS_ENABLE: "false"
      CONNECT_INTERNAL_KEY_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      CONNECT_INTERNAL_VALUE_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      CONNECT_PLUGIN_PATH: /usr/share/java,/etc/kafka-connect/jars
      CONNECT_REST_ADVERTISED_HOST_NAME: localhost
      CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: "1"
      CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: "1"
      CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: "1"
      CONNECT_PLUGIN_PATH: /usr/share/java,/usr/share/confluent-hub-components
    links:
      - kafka
      - elastic

  zookeeper:
    image: confluentinc/cp-zookeeper:4.1.1-2
    environment:
      ZOOKEEPER_CLIENT_PORT: 32181
      ZOOKEEPER_TICK_TIME: 2000
